{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1>Update Preference</h1>
{% else %}
<h1>Add Preference</h1>
<p>Complete your profile to start connecting!</p>
{% endif %}


<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Save" class="btn">
</form>

<script>
  const selectEl = document.getElementById('id_interest');
  M.FormSelect.init(selectEl);
  const interestFilter = document.getElementById('id_interest_filter_field');
  M.FormSelect.init(interestFilter);
  const selectAgeMin = document.getElementById('id_age_range_min');
  M.FormSelect.init(selectAgeMin);
  const selectAgeMax = document.getElementById('id_age_range_max');
  M.FormSelect.init(selectAgeMax);
  const ageFilter = document.getElementById('id_age_filter_field');
  M.FormSelect.init(ageFilter);
</script>
{% endblock %}