{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Update Profile<span class="teal-text">{{ object.name }}</span></h1>
{% else %}
  <h1>Create Profile</h1>
{% endif %}

<!-- empty action attribute will post to the same url in the address bar -->
<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>

  {% if object %}
  <input type="submit" value="Save" class="btn">
  {% else %}
  <input type="submit" value="Next" class="btn">
  {% endif %}
</form>

<script>
  const selectEl = document.getElementById('id_gender');
  M.FormSelect.init(selectEl);
  const dateEl = document.getElementById('id_birthday');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    autoClose: true
  });
  const selectGen = document.getElementById('id_favorite_genre')
  M.FormSelect.init(selectGen)
</script>
{% endblock %}