{% extends 'base.html' %}
{% block content %}

<h1>About</h1>
{% load static %} <img class='background-image' src="{% static 'images/noun-gameboy-4697185.svg' %}"/>
<p>Gaming is more than just a hobby, it's a passion and a community.  Link Cable is designed specifically for gamers, whether you're into console gaming, PC gaming, or both. Our goal is to help you connect with the perfect match on our platform.
</p>
<p>Whether you're looking for a casual gaming buddy or a long-term relationship, our app will help gamers build lasting connections within the gaming community!
    
</p>    

{% endblock %}