{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Link Cable</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey">
        <ul>
          <li>&nbsp;&nbsp;&nbsp;<img src="/static/images/joypad.png" class="logo-image" width="40px" height="40px"><a href="{% url 'home' %}" class="left brand-logo black-text">&nbsp;&nbsp;Link Cable</a></li>
        </ul>
        <ul class="right">
          <li><a class="black-text" href="{% url 'home' %}">Home</a></li>
          <li><a class="black-text" href="{% url 'about' %}">About Us</a></li>
          {% if user.is_authenticated %}
            {% comment %} <li><a class="black-text" href="{% url 'index' %}">Profile</a></li> {% endcomment %}
            <li><a class="black-text" href="{% url 'connect' %}">Let's Connect!</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% comment %} <li><img src="/static/images/buttons.png" class="logo-image" width="160px" height="38px"></li> {% endcomment %}
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
          </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer grey">
    <div class="right">All Rights Reserved, &copy; 2022 Team Owen &nbsp;</div>
  </footer>
</body>
</html>
