{% extends 'base.html' %}
{% block content %}

<h1>Connect</h1>
<p>Look below for other users who have similar interest to you!</p>
{% for profile in filtered_profiles %}

<div class="card">
<div class="card-content">
{% for photo in profile.photo_set.all %}
<img class="responsive-img match-profile-picture" src="{{ photo.url }}" style="float: left">
{% endfor %}

<p>Name: {{ profile.first_name }}</p>
<p>Age: {{ profile.age }}</p>
<p>Gender: {{ profile.get_gender_display }}</p>
{% if profile.favorite_games.all %}
    <p>Currently Playing: </p>
    {% for game in profile.favorite_games.all %}
        <p> - {{ game.name }} ({{ game.get_platform_display }})</p>
    {% endfor %}
{% endif %}
<hr></hr>
<p><a href="{% url 'profile_index' profile_id=profile.id %}">View Profile</a></p>
</div>
</div>
{% endfor %}




{% endblock %}