{% extends 'base.html' %}
{% block content %}

<h1>Connect</h1>
{% for profile in profiles %}
<div class="card">
<div class="card-content">
{% for photo in profile.photo_set.all %}
<img class="responsive-img match-profile-picture" src="{{ photo.url }}" style="float: left">
{% endfor %}
<p>First name: {{ profile.first_name }}</p>
<p>Age: {{ profile.age }}</p>
<p>Bio: {{ profile.bio }}</p>
<p><a href="{% url 'profile_index' profile_id=profile.id %}">View Profile</a></p>
</div>
</div>
{% endfor %}
{% endblock %}