body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
main {
    flex: 1 0 auto;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.card {
  width: auto;
  height: 350px;
}

.match-profile-picture {
  max-width: 400px;
  max-height: 300px;
  float: left;
  margin: 0 10px 0 0;
}

.show {
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  .hidden {
    visibility: hidden;
  }

  .card {
    width: auto;
    height: 150px;
  }

  .match-profile-picture {
    max-width: 100px;
    max-height: 75px;
    float: left;
    margin: 0 10px 0 0;
  }

  .show {
    visibility: visible;
    position: sticky;
    bottom: 0;
  }

  footer {
    font-size: 8px;
  }
}