{% extends 'base.html' %} {% block content %}

<h3>Photo Details</h3>

{%if photo.url %}
<div class="card">
  <div class="card-content center">
    <img class="responsive-img profile-picture" src="{{photo.url}}"></a>
    <p>"{{ photo.caption }}"</p>
  </div>
  {% if user.is_authenticated %} 
    {% if user_id == profile.user_id %}
  <div class="card-action">
    <a href="{% url 'photo_update' photo.id %}">Edit caption</a>
    <a href="{% url 'photo_delete' photo.id %}">Delete image</a>
  </div>
    {% endif %} 
  {% endif %}
</div>

{%endif%} {% endblock %}