{% extends 'base.html' %}
{% block content %}


<h1>Upload Photo</h1>

{% if user.id == profile.user_id %}
<form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST" alt="Profile Picture" class="card card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        Caption:<input type="text" name="caption">
        <br><br>
        <input type="submit" class="btn" value="Upload Photo">
    </form>
    {% endif %}

{% endblock %}